
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="topbanner Rooms-top">
    <div class="headingtop">
        <h1>Rooms</h1>
    </div>
</div>

<div class="container">
    <div class="boalls d-flex justify-content-between align-items-center">
        <div class="widt1" data-aos="fade-right" data-aos-duration="1100">
            <div class="alltext heading_b">
                <h2>Divanshi Food Corner & Rooms</h2>
                <i>Experience bliss and inner peace!</i>
                <p>Be in the lap of nature surrounded by sunshine ,mountains and lush green valleys. Divanshi foods and rooms 's offers the finest accommodation in Shimla with unique design. Specially selected fabrics and finishes provide consistent, elegant and unique atmosphere for guests to rejuvenate in each room</p>
            </div>
        </div>

        <div class="widt2" data-aos="fade-left" data-aos-duration="1100">
            <div class="imgroom">
                <img src="~/images/roomimg1.png" class="img-fluid" alt="Divanshi Food Corner & Rooms" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6" data-aos="fade-up" data-aos-duration="1100">
            <div class="alltext heading_b">
                <h2>Rooms & Services</h2>
                <i>We offer luxurious facilities and services to make your stay comfortable. Enjoy These Amenities and Rejoice in Shimla.</i>

            </div>
        </div>

        <div class="col-sm-6" data-aos="fade-down" data-aos-duration="1100">
            <div class="txtul">
                <ul class="clearfix">
                    <li>Aesthetically Crafted rooms</li>
                    <li>Running hot water from 7 a.m. to 11 a.m. in the morning (in Winter Season)</li>
                    <li>Restaurant serving buffet breakfast and dinner along with All Day a-la carte.</li>
                    <li>LED Screens in all rooms with Set top connections.</li>
                    <li>Intercom facility in all rooms</li>
                    <li>24 hrs power back up</li>
                    <li>Room service</li>
                    <li>Housekeeping services</li>
                    <li>Car parking</li>
                    <li>Luggage rack</li>
                    <li>Wardrobe</li>
                </ul>
            </div>
        </div>
    </div>

    @*<div class="row mt-5 mb-5">
        <div class="col-md-4" data-aos="fade-left" data-aos-duration="1100">
            <div class="roombox position-relative">
                <img src="~/images/proom1.jpg" alt="Double Room with Mountain View" />
                <div class="hover_room">
                    <div class="rm_hr">
                        <h3>Double Room with Mountain View</h3>
                        <a href="Double-Room-with-Mountain-View.html">Check Details<i class="fa fa-angle-right ml-2"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4" data-aos="fade-down" data-aos-duration="1100">
            <div class="roombox position-relative">
                <img src="~/images/proom2.jpg" alt="Family Room with Mountain View" />
                <div class="hover_room">
                    <div class="rm_hr">
                        <h3>Family Room with Mountain View</h3>
                        <a href="Family-Room-with-Mountain-View.html">Check Details<i class="fa fa-angle-right ml-2"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4" data-aos="fade-right" data-aos-duration="1100">
            <div class="roombox position-relative">
                <img src="~/images/proom3.jpg" alt="Standard Family Room" />
                <div class="hover_room">
                    <div class="rm_hr">
                        <h3>Standard Family Room</h3>
                        <a href="Standard-Family-Room.html">Check Details<i class="fa fa-angle-right ml-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
</div>



