
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="topbanner Gallery-top">
    <div class="headingtop">
        <span><a href="Index-2.html"><i class="fa fa-home"></i></a></span>
        <h1>Gallery</h1>
    </div>
</div>




<div class="container" data-aos="fade-up" data-aos-duration="1100">
    <div class="menubox">
        <div class="alltext heading_b">
            <h2>Divanshi Foods corner and rooms</h2>
            <h5><i>The Reason someone Smiles Today</i></h5>
            <p><i>Divanshi corner and rooms offers the finest accommodation in Village Dhar, Shimla with unique design that offers a relaxing envionment. Specially selected fabrics and finishes vary from room to room, providing guests with a variety of beautiful and unique environments to choose from.</i></p>
        </div>

        <div class="imagesflx">
            <ul class="clearfix ">
                <li>
                    <a href="~/images/Gallery1.jpg" data-fancybox="images" data-caption="">
                        <img src="~/images/Gallery1.jpg" alt="" />
                        <div class="hover_gly">
                            <div class="gly_htext">
                                <i class="fa fa-search-plus"></i>

                            </div>
                        </div>

                    </a>
                </li>

                <li>
                    <a href="~/images/Gallery2.jpg" data-fancybox="images" data-caption="">
                        <img src="~/images/Gallery2.jpg" alt="" />
                        <div class="hover_gly">
                            <div class="gly_htext">
                                <i class="fa fa-search-plus"></i>

                            </div>
                        </div>

                    </a>
                </li>

                <li>
                    <a href="~/images/Gallery3.jpg" data-fancybox="images" data-caption="">
                        <img src="~/images/Gallery3.jpg" alt="" />
                        <div class="hover_gly">
                            <div class="gly_htext">
                                <i class="fa fa-search-plus"></i>

                            </div>
                        </div>

                    </a>
                </li>

                <li>
                    <a href="~/images/Gallery4.jpg" data-fancybox="images" data-caption="">
                        <img src="~/images/Gallery4.jpg" alt="" />
                        <div class="hover_gly">
                            <div class="gly_htext">
                                <i class="fa fa-search-plus"></i>

                            </div>
                        </div>

                    </a>
                </li>

                <li>
                    <a href="~/images/Gallery5.jpg" data-fancybox="images" data-caption="">
                        <img src="~/images/Gallery5.jpg" alt="" />
                        <div class="hover_gly">
                            <div class="gly_htext">
                                <i class="fa fa-search-plus"></i>

                            </div>
                        </div>

                    </a>
                </li>

                <li>
                    <a href="~/images/Gallery6.jpg" data-fancybox="images" data-caption="">
                        <img src="~/images/Gallery6.jpg" alt="" />
                        <div class="hover_gly">
                            <div class="gly_htext">
                                <i class="fa fa-search-plus"></i>

                            </div>
                        </div>

                    </a>
                </li>

                <li>
                    <a href="~/images/Gallery7.jpg" data-fancybox="images" data-caption="">
                        <img src="~/images/Gallery7.jpg" alt="" />
                        <div class="hover_gly">
                            <div class="gly_htext">
                                <i class="fa fa-search-plus"></i>

                            </div>
                        </div>

                    </a>
                </li>

                <li>
                    <a href="~/images/Gallery8.jpg" data-fancybox="images" data-caption="">
                        <img src="~/images/Gallery8.jpg" alt="" />
                        <div class="hover_gly">
                            <div class="gly_htext">
                                <i class="fa fa-search-plus"></i>

                            </div>
                        </div>

                    </a>
                </li>

                <li>
                    <a href="~/images/Gallery9.jpg" data-fancybox="images" data-caption="">
                        <img src="~/images/Gallery9.jpg" alt="" />
                        <div class="hover_gly">
                            <div class="gly_htext">
                                <i class="fa fa-search-plus"></i>

                            </div>
                        </div>

                    </a>
                </li>


            </ul>
        </div>


    </div>
</div>


