
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="topbanner Dining-top">
    <div class="headingtop">
        <span><a href="Index-2.html"><i class="fa fa-home"></i></a></span>
        <h1>Dining</h1>
    </div>
</div>
<div class="container">
    <div class="boalls d-flex justify-content-between align-items-center">
        <div class="widt1" data-aos="fade-right" data-aos-duration="1100">
            <div class="alltext heading_b">
                <h2>Divanshi Food Corner & Rooms</h2>
                <h5>CUISINE FOR EVERY PALATE</h5>
                <i>We also provide food service for our customers. For food lovers looking for a casual restaurant in shimla this is the dining spot for them. You can experience some of our crunchy and delicious snacks while enjoying your stay with us.</i>
            </div>
        </div>

        <div class="widt2" data-aos="fade-left" data-aos-duration="1100">
            <div class="imgroom">
                <img src="~/images/Diningimg.jpg" class="img-fluid" alt="Divanshi Food Corner & Rooms" />
            </div>
        </div>
    </div>


</div>

<div class="bg_gy">

    <div class="container" data-aos="fade-up" data-aos-duration="1100">
        <div class="alltext heading_b">
            <h2>Specialities with us!!</h2>
            <p><i>We also provide 24-hour in-room dining, so you can enjoy delicious food in the comfort of your room.</i></p>
            <p><i> Divansi Food Corner and guest rooms offer a great dining experience and a variety of cuisines.</i></p>
        </div>
    </div>


</div>

<div class="container" data-aos="fade-up" data-aos-duration="1100">
    <div class="menubox">
        <div class="alltext heading_b">
            <h2>TASTE BUD TEASERS</h2>
        </div>

        <div class="imagesflx1">
            <ul class="clearfix d-flex">
                <li>
                    <a href="~/images/Menu1.jpg" data-fancybox="images" data-caption="">
                        <img src="~/images/Menu1.jpg" alt="FODDS CORNER" />
                        <div class="hover_gly1">
                            <div class="gly_htext1">
                                <i class="fa fa-search-plus"></i>

                            </div>
                        </div>

                    </a>
                </li>

                <li>
                    <a href="~/images/Menu2.jpg" data-fancybox="images" data-caption="">
                        <img src="~/images/Menu2.jpg" alt="FODDS CORNER" />
                        <div class="hover_gly1">
                            <div class="gly_htext1">
                                <i class="fa fa-search-plus"></i>

                            </div>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="~/images/Menu3.jpg" data-fancybox="images" data-caption="">
                        <img src="~/images/Menu3.jpg" alt="FODDS CORNER" />
                        <div class="hover_gly1">
                            <div class="gly_htext1">
                                <i class="fa fa-search-plus"></i>

                            </div>
                        </div>

                    </a>
                </li>

                <li>
                    <a href="~/images/Menu4.jpg" data-fancybox="images" data-caption="">
                        <img src="~/images/Menu4.jpg" alt="FODDS CORNER" />
                        <div class="hover_gly1">
                            <div class="gly_htext1">
                                <i class="fa fa-search-plus"></i>

                            </div>
                        </div>

                    </a>
                </li>




            </ul>
        </div>
    </div>
</div>


