@{
    ViewBag.Title = "Index";
}


<section class="banner">
    <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/images/Home-Banner-1.jpg" alt="">
            </div>
            <div class="carousel-item">
                <img src="~/images/Home-Banner-2.jpg" alt="">
            </div>
            <div class="carousel-item">
                <img src="~/images/Home-Banner-3.jpg" alt="">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>

    </div>
</section>



<section class="welcomebox">
    <div class="imgor leftor" data-aos="fade-right" data-aos-duration="1100">
        <img src="~/images/OurStory1.png" alt="Our Story" />
    </div>
    <div class="center_w clearfix">
        <div class="sec_our" data-aos="fade-up" data-aos-duration="1100">
            <div class="heading_all">
                <h1>Our Story</h1>
                <span>Divanshi Food Corner & Rooms</span>
            </div>
            <h5>
                <span>A Welcoming Haven for</span>
                <span>All Kind of Travelers and</span>
                <span>Nature Lovers</span>
            </h5>
            <p>Welcome to Divanshi Food Corner & Rooms. We invite you to take advantage of our lavish accommodation and facilities. With the comfort of exclusive rooms and personalized services, we will always strive to make your stay the most lovely and memorable one. Be it the buzz about late spring, the fun of the harvest time, or the serenity of winter, Shimla is truly an experience for honeymooners, travel enthusiasts and adventure-lovers alike.</p>

            <div class="btnall text-center clearfix" data-aos="fade-down" data-aos-duration="1100">
                <!--<a href="Experience.html" class="btnbook">Read More</a>-->
            </div>
        </div>


    </div>
    <div class="imgor rightor" data-aos="fade-right" data-aos-duration="1100">
        <img src="~/images/OurStory2.png" alt="Our Story" />
    </div>
</section>
<div class="clear"></div>
<section class="roommain pt_eql">
    <div class="container">
        <div class="heading_all" data-aos="fade-down" data-aos-duration="1100">
            <h2>Rooms</h2>
            <!--<span>Divanshi Food Corner & Rooms</span>-->
        </div>

        <div class="row mt-4">
            <div class="col-md-6 col-lg-6 offset-lg-3">
                <div class="row" data-aos="fade-right" data-aos-duration="1100">

                    <div class="col-md-12">
                        <div class="roombox position-relative">
                            <img src="~/images/roomb3.jpg" alt="Standard-Family-Room" />
                            <div class="hover_room">
                                <div class="rm_hr">
                                    <h3>Standard Family Room</h3>
                                    @*<a href="Standard-Family-Room.html">Check Details<i class="fa fa-angle-right ml-2"></i></a>*@
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-12" data-aos="fade-down" data-aos-duration="1100">
                <div class="btnall text-center clearfix">
                    <a href="@Url.Action("Index", "Rooms")" class="btnbook">View All Rooms</a>
                </div>
            </div>
        </div>
    </div>

</section>



<section class="package_Box mt40">
    <div class="container">
        <div class="heading_all" data-aos="fade-down" data-aos-duration="1100">
            <h2>Gallery</h2>
            <span>Divanshi Food Corner & Rooms</span>
        </div>
        <div class="tab_gly clearfix" data-aos="fade-up" data-aos-duration="1100">


            <!-- Tab panes -->
            <div class="tab-content">
                <div class="container tab-pane active">
                    <div class="imagesflx">
                        <ul class="clearfix ">
                            <li>
                                <a href="~/images/Gallery1.jpg" data-fancybox="images" data-caption="">
                                    <img src="~/images/Gallery1.jpg" alt="Trek View" />
                                    <div class="hover_gly">
                                        <div class="gly_htext">
                                            <i class="fa fa-search-plus"></i>

                                        </div>
                                    </div>
                                    <div class="textgl">
                                        <span></span>
                                        <h5>Food&nbsp;Corner</h5>
                                        <span></span>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="~/images/Gallery2.jpg" data-fancybox="images" data-caption="">
                                    <img src="~/images/Gallery2.jpg" alt="Exterior" />
                                    <div class="hover_gly">
                                        <div class="gly_htext">
                                            <i class="fa fa-search-plus"></i>

                                        </div>
                                    </div>
                                    <div class="textgl">
                                        <span></span>
                                        <h5>Exterior</h5>
                                        <span></span>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="~/images/Gallery3.jpg" data-fancybox="images" data-caption="">
                                    <img src="~/images/Gallery3.jpg" alt="Panaromic View" />
                                    <div class="hover_gly">
                                        <div class="gly_htext">
                                            <i class="fa fa-search-plus"></i>

                                        </div>
                                    </div>
                                    <div class="textgl">
                                        <span></span>
                                        <h5>Dinner&nbsp;&&nbsp;Lunch&nbsp;Point</h5>
                                        <span></span>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="~/images/Gallery4.jpg" data-fancybox="images" data-caption="">
                                    <img src="~/images/Gallery4.jpg" alt="Sunset" />
                                    <div class="hover_gly">
                                        <div class="gly_htext">
                                            <i class="fa fa-search-plus"></i>

                                        </div>
                                    </div>
                                    <div class="textgl">
                                        <span></span>
                                        <h5>Shop</h5>
                                        <span></span>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="~/images/Gallery5.jpg" data-fancybox="images" data-caption="">
                                    <img src="~/images/Gallery5.jpg" alt="Room" />
                                    <div class="hover_gly">
                                        <div class="gly_htext">
                                            <i class="fa fa-search-plus"></i>

                                        </div>
                                    </div>
                                    <div class="textgl">
                                        <span></span>
                                        <h5>Open Tables</h5>
                                        <span></span>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="~/images/Gallery6.jpg" data-fancybox="images" data-caption="">
                                    <img src="~/images/Gallery6.jpg" alt="Room Angle 4" />
                                    <div class="hover_gly">
                                        <div class="gly_htext">
                                            <i class="fa fa-search-plus"></i>

                                        </div>
                                    </div>
                                    <div class="textgl">
                                        <span></span>
                                        <h5>Open&nbsp;Tables</h5>
                                        <span></span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="btnall text-center clearfix" data-aos="fade-up" data-aos-duration="1100">
        <a href="@Url.Action("Index", "Gallery")" class="btnbook">View All</a>
    </div>
</section>


<section class="testimonial_box bg_backall">
    <div class="container">
        <div class="heading_all whtcl" data-aos="fade-down" data-aos-duration="1100">
            <h2>Testimonials</h2>
            <span>Divanshi Food Corner & Rooms</span>
        </div>

        <div class="single-item">
            <div>
                <div class="test-box">
                    <div class="imgtest">
                        <img src="~/images/profile-1.jpg" />
                    </div>
                    <div class="test-content">
                        <h3>Kanika Dhiman <span>(Stayed 4 Oct, 2021)</span></h3>

                        <p>
                            Place was quiet nice and living in room was very comfortable. I don't have words for food Quality as it was so delicious. Servicing and behavior of staff was excellent.Thank you Divanshi Food Corner & Rooms 's staff for everything.
                        </p>
                    </div>
                </div>

            </div>
            <div>
                <div class="test-box">
                    <div class="imgtest">
                        <img src="~/images/profile-1.jpg" />
                    </div>
                    <div class="test-content">
                        <h3>Vijay Sharma<span>(Stayed 2 Sep, 2021) </span></h3>

                        <p>Just awsum. Rooms are really clean and nice with good view.Staff is really helpful and coopreative food quality is good overall it's was good experience with Divanshi Food Corner & Rooms.</p>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>


